.container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.avatar {
  background-color: #1890ff;
}

.userInfo {
  margin-left: 16px;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}

.email {
  color: #666;
}
